.custom-switch-toggle {
    display: inline-flex;
    border-radius: 50px;
    background-color: #567bd9;
    /* Base background color */
    padding: 4px;
    position: relative;
    transition: all 0.3s ease;
}

.custom-switch-button {
    border: none;
    padding: 10px 20px;
    /* Adjusted padding for three buttons */
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-switch-button.active {
    background-color: #ffffff;
    /* The selected background */
    color: #2d3e50;
    /* The selected text color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-switch-button:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Hover effect on non-active */
}

.custom-switch-toggle .custom-switch-button:first-child {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.custom-switch-toggle .custom-switch-button:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.custom-switch-toggle .custom-switch-button:nth-child(2) {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    /* Remove border radius for middle button */
}