@font-face {
    font-family: 'Uni Neue Book';
    src: url('../fonts/UniNeueBook.eot');
    src: local('Uni Neue Book'), local('UniNeueBook'), url('../fonts/UniNeueBook.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueBook.woff2') format('woff2'), url('../fonts/UniNeueBook.woff') format('woff'), url('../fonts/UniNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-bold {
    font-family: 'Uni Neue Book', sans-serif;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueLight.eot');
    src: local('Uni Neue Light'), local('UniNeueLight'), url('../fonts/UniNeueLight.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueLight.woff2') format('woff2'), url('../fonts/UniNeueLight.woff') format('woff'), url('../fonts/UniNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueRegular.eot');
    src: local('Uni Neue Regular'), local('UniNeueRegular'), url('../fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueRegular.woff2') format('woff2'), url('../fonts/UniNeueRegular.woff') format('woff'), url('../fonts/UniNeueRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueRegular.eot');
    src: local('Uni Neue Regular'), local('UniNeueRegular'), url('../fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueRegular.woff2') format('woff2'), url('../fonts/UniNeueRegular.woff') format('woff'), url('../fonts/UniNeueRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBold.eot');
    src: local('Uni Neue Bold'), local('UniNeueBold'), url('../fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueBold.woff2') format('woff2'), url('../fonts/UniNeueBold.woff') format('woff'), url('../fonts/UniNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBold.eot');
    src: local('Uni Neue Bold'), local('UniNeueBold'), url('../fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueBold.woff2') format('woff2'), url('../fonts/UniNeueBold.woff') format('woff'), url('../fonts/UniNeueBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}